
body {
    margin: 20px;
    background-color: #F3F5F9;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 200;
  }
  
  header {
    background-color: #F3F5F9;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .logo {
    width: 80px;
    height: 80px;
  }
  
  .page-wrapper {
    display: flex; 
    padding: 20px;
  }
  
  .main {
    flex: 2; 
    background-color: #f4efff;
    padding: 20px;
    margin-right: 20px; 
    margin-left: 20px;
    border: 2px solid #251741;
    border-radius: 12px;
    
  }
  
  .right-sidebar {
    flex: 1;
    width: 300px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    
  }
  
  .search-box input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #f4efff;
  }

  a{
    text-decoration: none;
    color: #251741;
    font-weight: bolder;
    
  }

  .hidden{
    display: none;
  }
  
  button{
    margin: 1em;
    padding: 1.5em;
    border-radius: 2em;
    border: #F3F5F9;
    background-color: #ffffffdd;

  }