{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Habits</title>
    <link rel="stylesheet" href="{% static 'tracker/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<header>
    <div class="nav">

        {% load static %}
        <img src="{% static 'tracker/habit_tracker_logo.png' %}" class="logo" alt="logo">

        
        <a href="#user"> <h2>Welcome, {{ request.user.username }}</h2></a>
        <a href="{% url 'home' %}"> Home</a>
        <a href="#allhabits"> Habits</a>
        <a href="#goals"> Goals</a>
        <a href="#history"> History</a>

        <!--For the navigation, user id, search-->

    </div>
</header>

<body>
    <div class="main">

        <h2 class="section-title">Scheduled Habits</h2>
        {% for habit in scheduled_habits %}
            <div class="schabit">
                <h3>{{ habit.name }}</h3>{{ habit.get_schedule_text }}
                {% if habit.streak_emoji %} ({{ habit.streak_emoji }}){% endif %}
            
    
            <!-- delete -->
            <form style="display:inline" method="post"
                  action="{% url 'delete_scheduled_habit' habit.id %}">
                {% csrf_token %}
                <button id="deletebtn" type="submit">🗑️ Delete</button>
            </form>
        </div>
        
    {% empty %}
        <li>No scheduled habits yet.</li>
    {% endfor %}





        <h2 class="section-title">Active Habits</h2>
        {% if active_habits %}
            {% for habit in active_habits %}
                <div class="habit">
                    <h3>{{ habit.name }}</h3>
                    <p>{{ habit.days_completed }}/{{ habit.target }} completed</p>
                </div>
            {% endfor %}
        {% else %}
            <p class="empty-state">No active habits.</p>
        {% endif %}

        <h2 class="section-title">Completed Habits</h2>
        {% if completed_habits %}
            {% for habit in completed_habits %}
                <div class="habit completed-habit">
                    <h3>{{ habit.name }}</h3>
                    <p>✅ Goal Completed</p>
                </div>
            {% endfor %}
        {% else %}
            <p class="empty-state">No completed habits yet.</p>
        {% endif %}
    </div>
</body>
</html>